* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  padding: 5px 0px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff90;
  z-index: 9999;
}

#header .container {
  position: relative;
}

.logo h1 {
  vertical-align: middle;
  margin: 0;
  margin-left: 10px;
  text-align: left;
}

.logo span {
  font-size: 20px; /*30px;*/
  font-weight: bold;
  text-transform: uppercase;
  line-height: 18px; /*24px;*/
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-style: italic;
  font-family: 'Acme', sans-serif;
}

.logo img {
  width: 55px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}

.burger {
  position: absolute;
  display: flex;
  right: 10px;
  top: 21px;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
}

.burger span {
  height: 3px;
  width: 25px;
  display: block;
  background-color: black;
}

.mainnav {
  display: none;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.mainnav.active {
  display: flex;
}

.mainnav ul {
  padding: 0;
  margin: 0;
}
.mainnav ul li {
  display: inline-block;
}

.mainnav a {
  flex: 1;
  margin: 0px 5px;
  padding: 0px 5px;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.03em;
}

main {
  width: 100%;
}

section {
  width: 100%;
  padding: 5px;
}

.section-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.section-background img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 85% 100%;
}

#features {
  min-height: 50vh;
  display: flex;
  align-items: center;
  position: relative;
}

.thankyou #features {
  min-height: 90vh;
}

.text-content {
  width: 90%;
  padding-left: 10%;
  color: #fff;
  margin-bottom: 100px;
}

.text-content h2 {
  font-family: 'Acme', sans-serif;
  font-size: 2.5rem;
  margin: 0;
  text-transform: uppercase;
  font-style: italic;
  text-shadow: 2px 4px 5px black;
}

.text-content p {
  font-size: 1.2.5rem;
  line-height: 1.2;
  font-family: 'Balsamiq Sans', sans-serif;
  margin: 0;
  text-shadow: 2px 4px 5px black;
}

.text-content .btn,
.pricing-card .btn {
  display: inline-block;
  padding: 10px 25px;
  margin: 0;
  margin-top: 20px;
  width: auto;
  font-size: 1rem;
  min-width: 80px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  cursor: pointer;
  background-color: #3d6f39;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
}


#video-section {
  padding: 40px 0;
  text-align: center;
}

#video-section h2 {
  font-family: 'Acme', sans-serif;
  font-size: 2.5rem;
  margin: 0;
  text-transform: uppercase;
  font-style: italic;
}

#video-section .description,
#newsletter .description {
  padding: 0px 30px;
  max-width: 640px;
  margin: 20px auto;
  font-family: 'Balsamiq Sans', sans-serif;
}

.video-container {
  padding: 20px;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}

.video-wrapper {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section#pricing {
  padding: 40px 0;
  text-align: center;
  background-color: #b96a54;
}

#pricing h2,
#newsletter h2 {
  font-family: 'Acme', sans-serif;
  font-size: 2.5rem;
  margin: 0;
  text-transform: uppercase;
  font-style: italic;
}

.pricing-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  margin: 0 auto;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  background-color: #fff;
  font-family: 'Balsamiq Sans', sans-serif;
  padding: 25px 0px;
}

.pricing-card:first-child {
  flex-shrink: 1.05;
  font-size: 14px;
  order: 1;
  width: 75%;
}

.pricing-card h3 {
  font-family: 'Acme', sans-serif;
  font-size: 2.25em;
  margin: 0px;
  padding: 0 20px;
  text-transform: uppercase;
}

.pricing-card ul {
  text-align: left;
  padding: 0 20px 0 40px;
  margin: 10px 0;
  font-size: 1em;
}

.pricing-card li {
  margin-bottom: 8px;
}

.pricing-card .price {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Acme', sans-serif;
  margin: 0px 0px 10px;
  background-color: black;
  width: 100%;
  padding: 15px 0;
  color: #fff;
}

#newsletter {
  text-align: center;
  padding: 40px 20px 40px;
  width: 100%;
}

#newsletter h2 {
  font-size: 2rem;
}

#newsletter .description span {
  font-family: 'Acme', sans-serif;
  font-style: italic;
  font-size: 1.25em;
}

.form {
  display: flex;
  width: 100%;
  max-width: 320px;
  border: solid 1px rgb(18 18 18 / 55%);
  margin: 0 auto;
  appearance: none;
}

.form input {
  border-radius: 0;
  margin: 0px;
  font-size: 0.875rem;
  padding: 8px;
  border: 0;
  font-family: 'Balsamiq Sans', sans-serif;
}

#email{
  width: 70%;
}

#submit {
  width: 30%;
  border: 0;
}

footer {
  background: #000;
  text-align: center;
  color: #fff;
  padding: 2px 0;
  font-family: 'Balsamiq Sans', sans-serif;
  font-style: italic;
  letter-spacing: 0.04em;
  font-size: 0.75rem;
}

@media screen and (max-width: 640px) {
  .mainnav.active {
    position: absolute;
    bottom: -28px;
    background: #ffffff90;
    padding-bottom: 5px;
  }
}


@media screen and (min-width: 640px) {
  #header {
    padding: 10px 0;
  }
  .logo h1 {
    text-align: center;
    margin: 0;
  }
  .logo span {
    font-size: 30px;
    line-height: 24px;
  }
  .logo img {
    width: 80px;
  }
  .mainnav {
    display: flex;
  }
  .mainnav a {
    margin: 0px 10px;
  }
  .burger {
    display: none;
  }
  .pricing-container {
    flex-direction: row;
  }
  .pricing-card:first-child {
    width: auto;
  }
  #features {
   min-height: 70vh;
  } 
  .text-content {
    width: 60%;
  }
  .text-content h2,
  #video-section h2,
  #pricing h2,
  #newsletter h2 {
    font-size: 3rem;
  }
  .text-content p {
    font-size: 1.6rem;;
  }
}

@media screen and (min-width: 1024px) {
 #features {
  min-height: 80vh;
 } 
  
}